/*
Colors used:
Dark rose-pink: #69373F;
Pink: #B47878;
Cream: #FFE5D8;
Light grey: #FFF0E9
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #FFF0E9;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
}

/* Layout Styling */

.container {
  padding: 0 25px;
}

.row {
  margin: 40px 0;
  padding: 20px 0 60px 0;
  /*border-bottom: 1px solid #DEDEDE; */
}

.social {
  max-width: 150px;
  padding-top: 25px;
}

.story {
  /*text-align: center; */
  padding-bottom: 12px;
}

.scroll-img {
  display: flex;
  overflow: auto; 
  margin-left: auto;
  margin-right: auto;
}


body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

main{
  padding-top: 139px;
}

#hero {
  padding-top: 25px;
  padding-bottom: 25px;
}

#hero span {
  display: block;
  font-size: 80%;
  margin-top: 1em;
}

#hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}


h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  padding: 1em;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 12px;
}

h4 {
  font-size: 0.75em;
  font-weight: 400;
}

img.logo {
  max-width: 50px;
}

img.profile {
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.colors {
  max-width: 950px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 100%;
}

a {
  color: #B47878;
  text-decoration: none; /* no underlining */
}

a:visited {
  color: #69373F;
}

a:hover {
  color: #69373F;
  text-decoration: underline; /* underlining when hovering over a link */
}

a:active {
  color: #B47878;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #B47878;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  margin-top: 25px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:visited {
  display: inline-block;
  background-color: #B47878;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  display: inline-block;
  background-color: transparent;
  color: #B47878;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #B47878;
  transition: 0.2s opacity;
}

.button.contact {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: transparent;
  color: #B47878;
  border: 2px solid #B47878;
}

.button.contact:visited {
  background-color: transparent;
  color: #69373F;
  text-transform: uppercase;
  border: 2px solid #69373F;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #B47878;
  color: #ffffff;
}

.button.contact:active {
  background-color: #69373F;
  color: #ffffff;
}

.social {
  width: 50px;
  height: 50px;
}

/*.row {
  margin: 25px 0;
} */

.row::after {
  content: "";
  clear: both;
  display: table;
}

.wireframes {
  max-width: 225px;
  padding: 40px 12px 40px 0px;
  margin: auto;
}


footer {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFF0E9;
  text-align: center;
}

.text-block {
  max-width: 750px;
  margin: 0 auto;
  padding: 2em 0;
}


@keyframes color-change {
  0% {fill: #EDC655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0, 50px);}
  to {transform: translate(200px, 50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px, 48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


/* Breakpoint Medium Devices */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 40px;
  }

}

/* Breakpoint Large Devices 1024px or larger */
@media only screen and (min-width: 1024px) {

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .story .container {
    max-width: 900px;
  }

}

/* Breakpoint X-Large Devices 1440px or larger */
@media only screen and (min-width: 1440px) {

}
