/*
Colors used:
Dark rose-pink: #69373F;
Pink: #B47878;
Cream: #FFE5D8;
Light grey: #FFF0E9
*/

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

h4 {
  font-size: 0.75em;
  font-weight: 400;
}

img.logo {
  width: 80px;
}

img.profile {
  width: 150px;
}

img {
  width: 100%;
}

a {
  color: #B47878;
  text-decoration: none; /* no underlining */
}

a:visited {
  color: #69373F;
}

a:hover {
  color: #FFE5D8;
  text-decoration: underline; /* underlining when hovering over a link */
}

a:active {
  color: #B47878;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #B47878;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:visited {
  display: inline-block;
  background-color: #B47878;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  display: inline-block;
  background-color: transparent;
  color: #B47878;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #B47878;
  transition: 0.2s opacity;
}

.button.contact {
  background-color: transparent;
  color: #B47878;
  text-transform: uppercase;
  border: 2px solid #B47878;
}

.button.contact:visited {
  background-color: transparent;
  color: #69373F;
  text-transform: uppercase;
  border: 2px solid #69373F;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #B47878;
  color: #ffffff;
}

.button.contact:active {
  background-color: #69373F;
  color: #ffffff;
}
